/*----------Kanit---------*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*----------Poppins-----------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* these are google fonts  */

/* lets write some basic css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #031840;
  --black-clr: #000;
  --white-clr: #fff;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-family: "Kanit", sans-serif;
}

a {
  text-decoration:none;
  font-family: "Kanit", sans-serif;
}

p,
li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

h1,
h2 {
  font-family: "Kanit", sans-serif;
}

h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "Kanit", sans-serif;
}

body {
  overflow-x: clip;
}

img {
  width: 100%;
  max-width: 100%; 
  margin-top: 2%;
}

img.imglogo {
  width: 130px;
  max-width: 130px;

}

/* now style navbar */
.navbar.navbar-expand-lg{
  
  box-shadow: #031840;
}

header .navbar.navbar-expand-lg{
  background: #031840;
 /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;*/
}


a.navbar-brand {
  width: 220px;
  height: 70px;
  object-fit: contain;
}

nav .navbar .nav-item .nav-link {
  font-size: 16px;
}

.navbar .separator-vertical {
  border: 1px solid #fff;
  height: 21px;
  margin: 0 18px;
}

.navbar-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.navbar-icon a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40;
}

.navbar-icon i {
  width: 30px;
  height: 30px;
  background-color: var(--primary-clr);
  color: #fff;
  display: grid;
  place-content: center;
  border-radius: 100%;
}

.hero-sec {
  position: relative;
  background: #031840;
  padding: 60px;
}

.hero-text {
  position: absolute;
  top: 12%;
  width: 35%;
}

.hero-text h2 {
  color: var(--white-clr);
  font-size: 36px;
}

.hero-text p {
  color: var(--white-clr);
  width: 90%;
}

/* style that */

.about-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.about-sec {
  background: #fff;
  position: relative;
  z-index: 9;
}

.about-text-box {
  background: #3378af;
  padding: 30px;
}

.about-text-box h2 {
  color: var(--white-clr);
  font-size: 36px;
  margin-bottom: 25px;
}

.about-text-box h5 {
  font-size: 20px;
  color: var(--white-clr);
}

.about-text-box p {
  color: var(--white-clr);
}

/* lets style */

.gallery-box {
  position: relative;
  margin-bottom: 20px;
}

.gallery-text {
  position: absolute;
  bottom: 0;
  background: #3378afba;
  width: 100%;
  height: 0%;
  transition: 0.4s ease-in-out;
  opacity: 0;
}

.gallery-text h5 {
  color: #fff;
}

.gallery-box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.gallery-box:hover .gallery-text {
  height: 100%;
  opacity: 1;
}

.gallery-text {
  display: grid;
  place-content: center;
  justify-content: center;
}

.choose-sec {
  position: relative;
  background: #e3f3ff;
  z-index: 9;
}

.choose-sec::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #317bb5;
  z-index: -1;
}

.choose-box img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background-color: white;
  padding: 5px;
  border-radius: 100%;
}

.choose-text h4 {
  font-size: 22px;
  color: white;
}

.choose-text p {
  color: white;
}

.choose-box {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  gap: 10px;
}

.choose-text {
  width: 80%;
}

.about-img-box-2 {
  text-align: right;
}

.about-img-box-2 img {
  width: 90%;
  margin-left: auto;
}

.logo-slider{
    padding: 30px;
    background: #f8f8f8;
    overflow: hidden;
}

.logo-slider.container {
  display: flex;          /* Ativa o Flexbox */
  justify-content: center; /* Centraliza as imagens horizontalmente */
  align-items: center;    /* Centraliza as imagens verticalmente */
  flex-wrap: wrap; 
  columns: none;       /* Permite que as imagens quebrem para a próxima linha se necessário */
}

.logo-img img{
    width: 20%;
    height: auto;
    flex: 0 0 16%; 
    margin: 10px;
    columns: none;
    
}

.logo-img{
    width: 16%;
    margin: auto;

}

/* lets style */
.testimonial-sec {
  background: #3378af;
}

.testimonial-card {
  padding: 0px 24px 10px 1px;
  background: white;
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.testimonial-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.testimonial {
  width: 125px;
  height: 125px;
  background: #ceeaff;
  border-radius: 0 65px 65px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client {
  width: 80px;
  height: 80px;
  border: 1px solid #333;
  border-radius: 50%;
  overflow: hidden;
}

.client img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-icon-box {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}

.testimonial-icontext p {
  font-size: 14px;
  margin: 0;
}

.testimonial-icontext h3 {
  font-size: 18px;
  margin: 0;
}

.testimonial-icon {
  width: 50px;
  height: 50px;
  background: #ceeaff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-icon i {
  font-size: 26px;
  color: var(--primary-clr);
}

.testimonial-text {
  padding: 0 10px;
}

/* lets style*/
.mission-img {
  position: relative;
}

.mission-im-shape {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.mission-img img {
  width: 500px;
}

.mission-text{
  padding: 0;
  width: 85%;
}

/* lets style*/
.footer{
  background: #031840;
}

.footer h4{
  color: white;
  margin-bottom: 20px;
}

.footer ul li{
  color: white;
  margin-bottom: 8px;
}

.call-box i{
  color: white;
  background: black;
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  border-radius: 100%;
}

.call-box{
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.call-box a{
  color: white;
  width: 80%;
}

.footer-logo{
  width: 500px;
  margin-bottom: 20px;
}

.footer-icon{
  text-align: center;
  justify-content: center;
}

.footer p{
  color: white;
  text-align: center;
}

.footer-box{
  width: 75;
}

.copyrights{
  text-align: center;
  padding: 10px;
  background: #031840;
  border-top: 1px solid #fff;
}

.copyrights a{
  color: white;
}

.whats{
  position: fixed;
  width: 2;
  right: 2px;
  bottom: 10px;
}